.spinner {
  display: inline-block;
  width: 8rem;
  height: 8rem;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #953d98;
  border-color: #953d98 transparent #953d98 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
