@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
  /* background-color: #0f060f; */
}
.grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.heading-primary {
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #ffffff;
  font-size: 5.2rem;
}
.heading-secondary {
  font-size: 4.8rem;
  margin-bottom: 2.4rem;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.btn--full:link,
.btn--full:visited {
  background-color: #dec4e6;
  color: #000;
}

.btn--full:hover,
.btn--full:active {
  background-color: #3aa692;
}

@media (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 34em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .navbar li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .navbar-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
